<!doctype html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<head>
    <title>Picture/Video Database</title>
    
</head>
<style>
        table {
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid black;
            padding: 5px 810x;
        }

        th {
            text-align: left;
        }
</style>
<body>

    {{{body}}}

</body>
</html>