<html>
<h3>Create new user:</h3>
<form id="'username" action="/create_user" method="post" </form>
    Username: <input type="text" name="name"><br />
    Password: <input type="text" name="password"><br />
    <input type="submit" value="Submit">\
</form>
</html>