<html>
<h1> Add/Search Video Games </h1>
<h3>Add Video Game:</h3>
<form id="game" action="/game" method="post">
    Title: <input type="text" name="game_title"><br />
    Genre: <input type="text" name="game_genre"><br />
	Studio: <input type="text" name="game_studio"><br />

    <input type="submit" value="Add"><br />
</form>	
<br />
<h3>Video Game Data:</h3>
<table id="game_table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Studio</th>
			<th>Delete</th>
            <th>Edit</th
        </tr>
    </thead>
    <tbody id="game_table_body">

        {{#data.game}}
        <tr>
            <td id="id" style="display:none">{{id}}</td>
            <td id="title">{{title}}</td>
            <td id="genre">{{genre}}</td>
			<td id="studio">{{studio}}</td>
            <td id="delete"> <input type="button" value="delete" onClick="delete_row(this)"/></td>
            <td id="edit"> <input type="button" value="edit" onClick="edit_row(this)"/></td>
        </tr>
        {{/data.game}}
    </tbody>
</table>
</html>