<html>
<h1>Media Database</h1>
<ui>Add/Search Movies
	<li><a href ="/movie"> Add/Search Movies </li>
	<li><a href ="/music"> Add/Search Music </li>
	<li><a href ="/tv"> Add/Search TV Shows </li>
	<li><a href ="/game"> Add/Search Video Games </li>
</html>	