<html>
<h1> Add/Search Music </h1>
<h3>Add Music:</h3>
<form id="music" action="/music" method="post">
    Title: <input type="text" name="music_name"><br />
    Arist: <input type="text" name="music_artist"><br />
	Length: <input type="text" name="music_length"><br />
    <input type="submit" value="Add"><br />
</form>	
<br />
<h3>Music Data:</h3>
<form id="filter" action ="/filterMusic" method="get">
	Filter by keyword: <input type="text" name="keyword" name = "keyword" id="keyword">
	<input type ="submit" value="Search">
</form>
<br />
<table id="music_table">
    <thead>
        <tr>
			<th>Music Id</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Length</th>
			<th>Delete</th>
            <th>Edit</th
        </tr>
    </thead>
    <tbody id="music_table_body">

        {{#data.music}}
        <tr>
            <td id="id">{{id}}</td>
            <td id="title">{{title}}</td>
            <td id="artist">{{artist}}</td>
			<td id="length">{{length}}</td>
        </tr>
        {{/data.music}}
    </tbody>
</table>